{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
     </br>
        <h3 style="font-family: Helvetica;">Brief History of the Institute:</h3>
        <figure>
            <img src="{% static 'images/sch.jpg' %}" class=" rounded img-fluid" alt="Jampeling Central School">
            <center><figcaption>Fig.1 front view of academic block | JCS</figcaption></center>
        </figure>
    <blockquote class="blockquote">
        <p class="text-justify">
            The present Jampeling Higher Secondary School, is an off- shoot of the erstwhile Kanglung Lower Secondary School segregated in the beginning of 2005 academic session. The name Jampeling was christened by His Holiness, the present 70th Jekhenpo for well being and prosperity of the school and community. It was officially declared in the beginning of 2012 academic session with the prior permission from the Ministry of Education vide office order No.DSE/SLCD/2012/709 dated 31st May, 2012.
            </br>
            </br>
            It was upgraded to Higher Secondary School in 2011 with the introduction of one section of science stream. At present we have classes from VII – XII offering Science and Arts stream in the Higher Secondary classes. Starting from 2015 academic session, we have also introduced Commerce Stream.
            </br>
            </br>
            It is located 22 kilometers away up from the Dzongkhag Headquarter, Trashigang below high way to Samdrupjongkhar when about to reach Kanglung satellite town. The bird eyes view of the school from sign board on the main road looks all the infrastructures are well planned and constructed across the wide spread area of pristine natural surrounding covered with different species of flora and fauna. The school has perhaps, one of the spacious compounds with 43 acres making it enjoyable learning culture and climate. The site view scenic beauty and a most enjoyable spot have always made attraction for the visitors. It is a high valued GNH school with beautiful campus maintenance and site development.
            </br>
            </br>
            The school serves students from the catchment area of Kanglung satellite town of Government servants, business and local community of Rongthung, Pangthang, Ritshangdung and Yonphula. Some students cover the distance about 10 kilometers to and fro everyday to come to school.
            </br>
            </br>
            We have limited boarding capacity of only two 64 bedded hostel (one for boys and other for girls). The boarding is offered to only those needy students of classes X and above especially to those students who graduated classes X from Dungtse MSS, Bartsham MSS, Radhi MSS, Trashigang MSS and Gongthung MSS and Gongdung.
            </br>
            </br>
            The schools emphasized on good academic performance as we have good rapport of academic excellence every year in the Board Examinations. All activities in the school are geared towards the all round development of the productive citizens of the country. The school has an extensive agriculture practices with strong stressed to inculcate dignity of labour in students.
        </p>
        </blockquote>
        <blockquote class="blockquote">
            <h3 style="font-family: Helvetica;">Vision:</h3>
            <p class="text-justify">
                Our school is proud of the traditions, 
                high expectations, inviting culture and climate that 
                makes it a good place to learn and grow.</p>
        </blockquote>
        <blockquote class="blockquote">
            <h3 style="font-family: Helvetica;">Mission:</h3>
            <p>
                <ol>
                    <li>To excel in academic performance.</li>
                    <li>To be competent in co-curricular and extra-curricular activities.</li>
                    <li>To be exemplary in code of conduct.</li>
                </ol>
            </p>
        </blockquote>
</div>

{% endblock %}